Examen/src/main/resources/Examen.xsd

<?xml version="1.0" encoding="" ?>

<xs:schema version="1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

    <xs:element name="autor">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="ciudad" type="xs:string"/>
                <xs:element name="pais" type="xs:string"/>
                <xs:element name="telefono" type="xs:string"/>
                <xs:element name="correo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>